.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-inline-start: 0px;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #1976d2;
  color: #1976d2;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #1976d2;
}

.paginationActive a {
  color: white;
  background-color: #1976d2;
}